<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
    <div style="margin-left: 15px; margin-top: 15px">
        <div th:each="el : ${listUser}">
            <p th:text="${el.id}"></p>
            <p th:text="${el.username}"></p>
            <p th:text="${el.active}"></p>
            <a th:href="'/user/userEdit/' + ${el.getId()}" class="btn btn-info" style="margin-bottom: 15px">Изменить роль</a>
        </div>
    </div>
</body>
</html>