<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee-Car adding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body>
    <form method="post" style="margin-left: 15px; margin-top: 15px">
        <select name = "FIO">
            <div th:each="el : ${listEmployee}">
                <option th:text="${el.id} + ' ' + ${el.surname} + ' ' + ${el.name}"></option>
            </div>
        </select>

        <select name = "bm">
            <div th:each="el : ${listCar}">
                <option th:text="${el.id} + ' ' + ${el.brand} + ' ' + ${el.model}"></option>
            </div>
        </select>
        <input type="submit" value="Создать" style="margin-top: 10px"> <br>
    </form>
</body>
</html>