<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Практическая работа №1</title>
</head>
<body>

<label>Get</label>

<form action="/main/" method="get">
  <input type="text" name="zn1" placeholder="Число 1">
  <input type="text" name="v" placeholder="Действие">
  <input type="text" name="zn2" placeholder="Число 2">
  <input type="submit" value="Узнать ответ">
</form>

<label>Post</label>

<form action="/main/" method="post">
  <input type="text" name="zn1" placeholder="Число 1">
  <input type="text" name="v" placeholder="Действие">
  <input type="text" name="zn2" placeholder="Число 2">
  <input type="submit" value="Узнать ответ">
</form>

</body>
</html>